/* FAMILY FONT */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* TITEL */
h1{
    font-size:50px;
    text-align: center;
    margin: 3% ;
}

/* PRODUCT */
div.product-1, .product-2, .product-3 ,.product-4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    border: 1px solid grey;
    box-shadow: 3px 5px #cccccc;
    margin: 15px;
    padding: 15px;
}




/* IMAGE */

.product-image {
    height: 150px;


}


/* DESCRIPTION */
.description{
    width: 300px;

}
.title-description{
    font-size: x-large;
}
.text-description{
    font-size: large;
}
/* INPUTS */


/* BUTTONS */

 button{
    
    margin:10px;
}
.buttton-text{
    font-size: medium;
} 
/* TOTAL PRICE */

h2{
    font-size: 35px;
}